h1 {
color:orange;
font-size: 108px;
text-align: left;
margin-top: 10px;
margin-bottom: 20px;
margin-left: 50px;
margin-right: 5px;
border: 1px solid black; 
}
h2 {
color: peru;
font-size: 65px;
text-align: left
}
img {
height: 250px;  
}
em, strong {
text-transform: uppercase;
font-style:oblique
}
p, ol {
    font-family: helvetica;
}